<!doctype html>
<html>
	<head>
		<title>
			Juan David : Juego de memoria con jQuery Rails
			</title>	
	</head>
	<body>
		<div id="divCreditos">
			<h2>Memory Game on Rails</h2>
			<p>			
			<%= image_tag "1.jpg" %>
			<%= image_tag "2.jpg" %>
			<%= image_tag "3.jpg" %>
			<%= image_tag "4.jpg" %>
			<%= image_tag "5.jpg" %>
			<%= image_tag "6.jpg" %>						
			</p>
			<p>
			Juego de Memoria con temporizador y puntaje.
			<br><br>Desarrollado por 
			<a href="https://github.com/JuandGirald" target="_blank">Juan David Giraldo
			</a>		
			</p>
		</div>
		<div id="divContenedor">
			<ul></ul>
			<div id="divInicio">
				<div id="divInferior" >
					<p>
					Memory Game with Rails and jQuery 
					<br> Autor : <a href="https://github.com/JuandGirald" target="_blank">
					Juan David Giraldo</a><br><br>
					</p>										
					<input type="button" value="Jugar" id="btnJugar" >
					<input type="button" value="Cr&eacute;ditos" id="btnCreditos">
				</div>
			</div>
			<div id="divContador">
				<p>Haga clic en el bot&oacute;n Jugar para iniciar </p>
			</div>			
		</div>
		<div id="divReinicio">
			<p1>
			<input type="button" value="Reinicio" id="btnReinicio" >
		 	</p1>
		 	
		</div>
	</body>
</html>